In [30]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.naive_bayes import GaussianNB
import warnings
warnings.filterwarnings('ignore')

data = pd.read_csv(r"C:\Users\manit\Downloads\tennisdata.csv")
data.head(5)

    Outlook Temperature Humidity   Windy PlayTennis
0     Sunny         Hot     High    Weak         No
1     Sunny         Hot     High  Strong         No
2  Overcast         Hot     High    Weak        Yes
3      Rain        Mild     High    Weak        Yes
4      Rain        Cool   Normal    Weak        Yes

In [23]:
# we want the dataset without the class label
x = data.iloc[:,:-1]
x.head(5)

    Outlook Temperature Humidity   Windy
0     Sunny         Hot     High    Weak
1     Sunny         Hot     High  Strong
2  Overcast         Hot     High    Weak
3      Rain        Mild     High    Weak
4      Rain        Cool   Normal    Weak

In [24]:
y = data.iloc[:,-1]
y.head(5)

0     No
1     No
2    Yes
3    Yes
4    Yes
Name: PlayTennis, dtype: object

In [25]:
#convert into numbers
le_outlook = LabelEncoder()
x.Outlook = le_outlook.fit_transform(x.Outlook)

le_temp = LabelEncoder()
x.Temperature = le_temp.fit_transform(x.Temperature)

le_hum = LabelEncoder()
x.Humidity = le_hum.fit_transform(x.Humidity)

le_windy = LabelEncoder()
x.Windy = le_windy.fit_transform(x.Windy)

x.head(5)

   Outlook  Temperature  Humidity  Windy
0        2            1         0      1
1        2            1         0      0
2        0            1         0      1
3        1            2         0      1
4        1            0         1      1

In [26]:
# similarly for class label
le_playTennis = LabelEncoder()
y =le_playTennis.fit_transform(y)
y

array([0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0])

In [29]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x,y,test_size=0.20)

classifier = GaussianNB()
classifier.fit(xtrain, ytrain)

from sklearn import metrics
print("accuracy score is:",metrics.accuracy_score(classifier.predict(xtest),ytest))

accuracy score is: 0.6666666666666666